<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CCATDBEntities" connectionString="metadata=res://*/Models.CCATEdm.csdl|res://*/Models.CCATEdm.ssdl|res://*/Models.CCATEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=CCATDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CCATDBEntities" connectionString="metadata=res://*/Models.CCATEdm.csdl|res://*/Models.CCATEdm.ssdl|res://*/Models.CCATEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=CCATDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>