
.confirmBtnContainer
    {
        padding-top: 10px;
        padding-right: 10px;
        text-align: right;
    }

#refreshBtn
 {
     background-image: url('../Content/images/refresh.png'); 
     background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                cursor: pointer;
                height: 30px;
                padding-left: 24px;
 }

#workspaceContainer {
    padding-left:50px;
    padding-top:50px;
}

#moduleTitle {
    background-color: #000000;
    font-size: medium;
    color: #FFFFFF;
}