USE [CCATDB]
GO
/****** Object:  ForeignKey [FK_Tbl_QuestionBank_Tbl_Module]    Script Date: 06/08/2013 00:27:51 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Tbl_QuestionBank_Tbl_Module]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionBank]'))
ALTER TABLE [dbo].[Tbl_QuestionBank] DROP CONSTRAINT [FK_Tbl_QuestionBank_Tbl_Module]
GO
/****** Object:  ForeignKey [FK_Tbl_Response_Tbl_QuestionBank]    Script Date: 06/08/2013 00:27:51 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Tbl_Response_Tbl_QuestionBank]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionResponse]'))
ALTER TABLE [dbo].[Tbl_QuestionResponse] DROP CONSTRAINT [FK_Tbl_Response_Tbl_QuestionBank]
GO
/****** Object:  Table [dbo].[Tbl_QuestionResponse]    Script Date: 06/08/2013 00:27:51 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Tbl_Response_Tbl_QuestionBank]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionResponse]'))
ALTER TABLE [dbo].[Tbl_QuestionResponse] DROP CONSTRAINT [FK_Tbl_Response_Tbl_QuestionBank]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionResponse]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_QuestionResponse]
GO
/****** Object:  StoredProcedure [dbo].[MSI_GetMenuDetails]    Script Date: 06/08/2013 00:27:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MSI_GetMenuDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[MSI_GetMenuDetails]
GO
/****** Object:  Table [dbo].[Tbl_QuestionBank]    Script Date: 06/08/2013 00:27:51 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Tbl_QuestionBank_Tbl_Module]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionBank]'))
ALTER TABLE [dbo].[Tbl_QuestionBank] DROP CONSTRAINT [FK_Tbl_QuestionBank_Tbl_Module]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionBank]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_QuestionBank]
GO
/****** Object:  Table [dbo].[Tbl_QuestionModule]    Script Date: 06/08/2013 00:27:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionModule]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_QuestionModule]
GO
/****** Object:  Table [dbo].[pageMenu]    Script Date: 06/08/2013 00:27:50 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_pageMenu_isNewWindow]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[pageMenu] DROP CONSTRAINT [DF_pageMenu_isNewWindow]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_pageMenu_isModal]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[pageMenu] DROP CONSTRAINT [DF_pageMenu_isModal]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_pageMenu_inIFRAME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[pageMenu] DROP CONSTRAINT [DF_pageMenu_inIFRAME]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pageMenu]') AND type in (N'U'))
DROP TABLE [dbo].[pageMenu]
GO
/****** Object:  Table [dbo].[pageMenuGroup]    Script Date: 06/08/2013 00:27:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pageMenuGroup]') AND type in (N'U'))
DROP TABLE [dbo].[pageMenuGroup]
GO
/****** Object:  Table [dbo].[module]    Script Date: 06/08/2013 00:27:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[module]') AND type in (N'U'))
DROP TABLE [dbo].[module]
GO
/****** Object:  Table [dbo].[module]    Script Date: 06/08/2013 00:27:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[module]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[module](
	[moduleId] [int] IDENTITY(1,1) NOT NULL,
	[pageMenuGroups] [nvarchar](1000) NULL,
 CONSTRAINT [PK_module] PRIMARY KEY NONCLUSTERED 
(
	[moduleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[module] ON
INSERT [dbo].[module] ([moduleId], [pageMenuGroups]) VALUES (1, N'1,2,4')
INSERT [dbo].[module] ([moduleId], [pageMenuGroups]) VALUES (2, N'3')
SET IDENTITY_INSERT [dbo].[module] OFF
/****** Object:  Table [dbo].[pageMenuGroup]    Script Date: 06/08/2013 00:27:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pageMenuGroup]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[pageMenuGroup](
	[pageMenuGroupId] [int] IDENTITY(1,1) NOT NULL,
	[appId] [int] NULL,
	[name] [nvarchar](50) NULL,
	[caption] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[iconPath] [nvarchar](250) NULL,
	[iconClass] [nvarchar](50) NULL,
	[pageMenuIds] [varchar](100) NULL,
 CONSTRAINT [PK_pageMenuGroup] PRIMARY KEY CLUSTERED 
(
	[pageMenuGroupId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[pageMenuGroup] ON
INSERT [dbo].[pageMenuGroup] ([pageMenuGroupId], [appId], [name], [caption], [description], [iconPath], [iconClass], [pageMenuIds]) VALUES (1, 1, N'Dashboard Overview', N'Dashboard', NULL, NULL, NULL, N'1')
INSERT [dbo].[pageMenuGroup] ([pageMenuGroupId], [appId], [name], [caption], [description], [iconPath], [iconClass], [pageMenuIds]) VALUES (2, 1, N'Compliance Self-Assessment', N'Self Assessment', NULL, NULL, NULL, N'2,3,4,5,6,7,8')
INSERT [dbo].[pageMenuGroup] ([pageMenuGroupId], [appId], [name], [caption], [description], [iconPath], [iconClass], [pageMenuIds]) VALUES (3, 1, N'Audit and Risk Mitigation', N'Audit & Risk Mitigation', NULL, NULL, NULL, N'9')
SET IDENTITY_INSERT [dbo].[pageMenuGroup] OFF
/****** Object:  Table [dbo].[pageMenu]    Script Date: 06/08/2013 00:27:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pageMenu]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[pageMenu](
	[pageMenuId] [int] IDENTITY(1,1) NOT NULL,
	[appId] [int] NULL,
	[name] [nvarchar](100) NOT NULL,
	[shortCaption] [nvarchar](50) NOT NULL,
	[longCaption] [nvarchar](250) NOT NULL,
	[description] [nvarchar](max) NULL,
	[iconPath] [nvarchar](250) NULL,
	[pagePath] [nvarchar](250) NULL,
	[pageParams] [nvarchar](500) NULL,
	[isNewWindow] [bit] NULL CONSTRAINT [DF_pageMenu_isNewWindow]  DEFAULT ((0)),
	[isModal] [bit] NULL CONSTRAINT [DF_pageMenu_isModal]  DEFAULT ((0)),
	[inIFRAME] [bit] NULL CONSTRAINT [DF_pageMenu_inIFRAME]  DEFAULT ((0)),
	[aElementIdentifier] [varchar](100) NULL,
 CONSTRAINT [PK_pageMenu] PRIMARY KEY CLUSTERED 
(
	[pageMenuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[pageMenu] ON
INSERT [dbo].[pageMenu] ([pageMenuId], [appId], [name], [shortCaption], [longCaption], [description], [iconPath], [pagePath], [pageParams], [isNewWindow], [isModal], [inIFRAME], [aElementIdentifier]) VALUES (1, 1, N'Dashboard Overview', N'Dashboard', N'Overview', NULL, NULL, N'/Dashboard/Home/Overview', NULL, 0, 0, 0, N'')
INSERT [dbo].[pageMenu] ([pageMenuId], [appId], [name], [shortCaption], [longCaption], [description], [iconPath], [pagePath], [pageParams], [isNewWindow], [isModal], [inIFRAME], [aElementIdentifier]) VALUES (2, 1, N'Entity Business Model', N'Module 1: Entity Business Model', N'Module 1:Entity Business Model', NULL, NULL, N'/Assessment/Home/Index?moduleid=1', N'title=Module1', 0, 0, 0, N'')
INSERT [dbo].[pageMenu] ([pageMenuId], [appId], [name], [shortCaption], [longCaption], [description], [iconPath], [pagePath], [pageParams], [isNewWindow], [isModal], [inIFRAME], [aElementIdentifier]) VALUES (3, 1, N'Communications in Connection with Debt Collection', N'Module 2: Communications with Debt Collection', N'Communications in Connection with Debt Collection', NULL, NULL, N'/Assessment/Home/Index?moduleid=2', N'title=Module2', 0, 0, 0, N'')
SET IDENTITY_INSERT [dbo].[pageMenu] OFF
/****** Object:  Table [dbo].[Tbl_QuestionModule]    Script Date: 06/08/2013 00:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionModule]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tbl_QuestionModule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_Tbl_Module] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_QuestionModule] ON
INSERT [dbo].[Tbl_QuestionModule] ([Id], [Name], [IsActive], [CreatedOn], [CreatedBy], [DisplayOrder]) VALUES (1, N'Entity Business Model', 1, CAST(0x0000A1C2011BBC82 AS DateTime), N'System', 1)
INSERT [dbo].[Tbl_QuestionModule] ([Id], [Name], [IsActive], [CreatedOn], [CreatedBy], [DisplayOrder]) VALUES (2, N'Communications in Connection with Debt Collection', 1, CAST(0x0000A1C2011BE96B AS DateTime), N'System', 2)
INSERT [dbo].[Tbl_QuestionModule] ([Id], [Name], [IsActive], [CreatedOn], [CreatedBy], [DisplayOrder]) VALUES (3, N'Information Sharing & Privacy', 1, CAST(0x0000A1C2011C25A4 AS DateTime), N'System', 3)
SET IDENTITY_INSERT [dbo].[Tbl_QuestionModule] OFF
/****** Object:  Table [dbo].[Tbl_QuestionBank]    Script Date: 06/08/2013 00:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionBank]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tbl_QuestionBank](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SrNo] [varchar](50) NULL,
	[Text] [varchar](500) NULL,
	[ModuleId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_Tbl_QuestionBank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_QuestionBank] ON
INSERT [dbo].[Tbl_QuestionBank] ([Id], [SrNo], [Text], [ModuleId], [IsActive], [CreatedOn], [CreatedBy], [DisplayOrder]) VALUES (1, N'1.1', N'Does your entity fall within the general definition of "debt collector"?', 1, 1, CAST(0x0000A1C201238A30 AS DateTime), N'System', 1)
INSERT [dbo].[Tbl_QuestionBank] ([Id], [SrNo], [Text], [ModuleId], [IsActive], [CreatedOn], [CreatedBy], [DisplayOrder]) VALUES (2, N'1.2', N'Does your organization perform or engage in the following activities:', 1, 1, CAST(0x0000A1C2012413AA AS DateTime), N'System', 2)
INSERT [dbo].[Tbl_QuestionBank] ([Id], [SrNo], [Text], [ModuleId], [IsActive], [CreatedOn], [CreatedBy], [DisplayOrder]) VALUES (3, N'1.2.1', N'Regularly collects, or attempts to collect, consumer debts for another person or institution', 1, 1, CAST(0x0000A1C2012465C8 AS DateTime), N'System', 3)
SET IDENTITY_INSERT [dbo].[Tbl_QuestionBank] OFF
/****** Object:  StoredProcedure [dbo].[MSI_GetMenuDetails]    Script Date: 06/08/2013 00:27:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MSI_GetMenuDetails]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create Procedure [dbo].[MSI_GetMenuDetails]
  @appId int
AS
  
  
SELECT	DISTINCT
		W.pageMenuGroupId, M.pageMenuId, 
		CASE WHEN PATINDEX(CAST(M.pageMenuId AS VARCHAR(10))+'',%'', W.pageMenuIds)>0 
				THEN PATINDEX(CAST(M.pageMenuId AS VARCHAR(10))+'',%'', W.pageMenuIds)
			 WHEN PATINDEX(''%''+CAST(M.pageMenuId AS VARCHAR(10)), W.pageMenuIds)>0 
				THEN PATINDEX(''%''+CAST(M.pageMenuId AS VARCHAR(10)), W.pageMenuIds)				
			 WHEN PATINDEX(''%,''+CAST(M.pageMenuId AS VARCHAR(10))+'',%'', W.pageMenuIds)>0 
				THEN PATINDEX(''%,''+CAST(M.pageMenuId AS VARCHAR(10))+'',%'', W.pageMenuIds)
			 ELSE 99 END AS listOrder
	FROM	pageMenu M
			INNER JOIN pageMenuGroup W ON 
					W.pageMenuIds LIKE CAST(M.pageMenuId AS VARCHAR(10))		-- Itself
					OR W.pageMenuIds LIKE CAST(M.pageMenuId AS VARCHAR(10))+'',%''		-- If a starting element
					OR W.pageMenuIds LIKE ''%,''+CAST(M.pageMenuId AS VARCHAR(10))		-- If an ending element
					OR W.pageMenuIds LIKE ''%,''+CAST(M.pageMenuId AS VARCHAR(10))+'',%''	-- If a middle element

			--INNER JOIN accessElement E ON E.aElementIdentifier = M.aElementIdentifier
			--INNER JOIN auth A ON E.aElementId = A.aElementId AND A.accessRightId>0
			--INNER JOIN userGroup UG ON UG.userGroupId = A.userGroupId
			--INNER JOIN access AC ON UG.userGroupId = AC.userGroupId
			--INNER JOIN project P ON P.projectId = AC.projectId
			--INNER JOIN aspnet_Users U ON U.userId = AC.userId
	WHERE	W.appId = @appId
			--	AND E.appId = @appId
			--	AND P.appId = @appId 
			--AND UG.userGroupId = @userGroupId 
			--AND P.projectId = @projectId

	ORDER BY W.pageMenuGroupId,
			 listOrder
' 
END
GO
/****** Object:  Table [dbo].[Tbl_QuestionResponse]    Script Date: 06/08/2013 00:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionResponse]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tbl_QuestionResponse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](500) NULL,
	[QuestionId] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Tbl_Response] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_QuestionResponse] ON
INSERT [dbo].[Tbl_QuestionResponse] ([Id], [Value], [QuestionId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (141, N'1', 1, CAST(0x0000A1CB0096B570 AS DateTime), N'16157be1-9e4b-4930-9da7-5bd123c05078', CAST(0x0000A1CB009761E0 AS DateTime), N'16157be1-9e4b-4930-9da7-5bd123c05078')
INSERT [dbo].[Tbl_QuestionResponse] ([Id], [Value], [QuestionId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (142, NULL, 2, CAST(0x0000A1CB0096B571 AS DateTime), N'16157be1-9e4b-4930-9da7-5bd123c05078', NULL, NULL)
INSERT [dbo].[Tbl_QuestionResponse] ([Id], [Value], [QuestionId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (143, NULL, 3, CAST(0x0000A1CB0096B572 AS DateTime), N'16157be1-9e4b-4930-9da7-5bd123c05078', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tbl_QuestionResponse] OFF
/****** Object:  ForeignKey [FK_Tbl_QuestionBank_Tbl_Module]    Script Date: 06/08/2013 00:27:51 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Tbl_QuestionBank_Tbl_Module]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionBank]'))
ALTER TABLE [dbo].[Tbl_QuestionBank]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_QuestionBank_Tbl_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Tbl_QuestionModule] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Tbl_QuestionBank_Tbl_Module]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionBank]'))
ALTER TABLE [dbo].[Tbl_QuestionBank] CHECK CONSTRAINT [FK_Tbl_QuestionBank_Tbl_Module]
GO
/****** Object:  ForeignKey [FK_Tbl_Response_Tbl_QuestionBank]    Script Date: 06/08/2013 00:27:51 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Tbl_Response_Tbl_QuestionBank]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionResponse]'))
ALTER TABLE [dbo].[Tbl_QuestionResponse]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Response_Tbl_QuestionBank] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Tbl_QuestionBank] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Tbl_Response_Tbl_QuestionBank]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tbl_QuestionResponse]'))
ALTER TABLE [dbo].[Tbl_QuestionResponse] CHECK CONSTRAINT [FK_Tbl_Response_Tbl_QuestionBank]
GO
